@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}


@layer base {
  :root {
    --color-primary:51,49,61;
    --color-secondary:74, 222, 128;
    --color-highlight:253,197,122;
    --color-text:255,255,255;
    --color-muted:155,155,155;
  }
}


/* For dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
